@font-face {
    font-family: 'Sofia Pro bold';
    src: url('../../public/fonts/SofiaProBold.otf') format('woff2');
}

/* normalize */
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
    font-family: 'Sofia Pro bold';
    margin-top: 0;
}

p {
    text-wrap: pretty;
    opacity: 0.8;
    line-height: 30px;
}

a {
    color: unset;
    text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
}

img {
    width: unset;
    height: unset;
}

hr {
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

strong {
    font-family: 'Sofia Pro bold';
}

/* clases globales ------------------------ */
.font-light {
    font-family: 'Sofia Pro light';
    font-weight: lighter;
}

.font-bold {
    font-family: 'Sofia Pro bold';
}

.content {
    width: 100%;
    padding: 0px 50px;
}

.content-limit {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.btn-main {
    border-radius: 100px;
    border: 1px solid #ccc;
    padding: 15px 60px;
    font-size: 20px;
    transition: 0.5s;
    font-family: 'Sofia Pro light';
    color: #ddd;
    display: inline-block;
    text-align: center;
}

.btn-main:hover {
    background-color: #ccc;
    color: #000;
    border-radius: 0px;
}

.card-gray {
    padding: 50px;
    background-color: #222224;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.hidden {
    overflow: hidden;
}

.mt-1 {
    margin-top: 20px;
}

.mt-2 {
    margin-top: 50px;
}

.mt-3 {
    margin-top: 70px;
}

.mt-4 {
    margin-top: 100px;
}

.mt-5 {
    margin-top: 150px;
}

.mt-6 {
    margin-top: 200px;
}

.font-1 {
    font-size: 18px;
}

.font-2 {
    font-size: 22px;
}

.font-3 {
    font-size: 26px;
}

.font-4 {
    font-size: 32px;
}

.font-5 {
    font-size: 40px;
}

.font-6 {
    font-size: 50px;
}

.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.gap-3 {
    gap: 30px;
}

.gap-4 {
    gap: 40px;
}

.gap-5 {
    gap: 50px;
}

.gap-6 {
    gap: 60px;
}

.z-5 {
    z-index: 5;
}

/* header -------- */
header{
    width: 100%;
    position: fixed;
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: grid;
    place-items: center;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
}
.logo-header{
    height: 70px;
}
.header-content nav{
    display: flex;
    gap: 50px;
}

/* home ----------- */
.box-clocks img{
    width: 200px;
}