body{
    font-family: poppins;
}

.item-cur{
    width: 25%;
    border: 1px solid #ccc;
    padding: 30px 60px;
    display: grid;
    place-items: center;
}
.item-cur h2, .item-cur {
    margin: 0;
}
@media(width < 1300px){
    .item-cur{
        padding: 15px 30px;
    }
}
@media(width < 1050px){
    .wrap-mison{
        flex-wrap: wrap;
    }
    .item-cur{
        width: 48%;
    }
}
@media(width < 850px){
    .flex{
        flex-wrap: wrap;
    }
    .info-philo{
        min-width: 100%;
        margin-top: 50px;
    }
    .img-philo{
        position: absolute;
        width: 100px !important;
        height: 100px;
        overflow: hidden;
        top: 100px;
        right: 50px;
        border-radius: 100px;
    }
    .item-cur{
        width: 100%;
    }
}