.main-fondo{
    width: 100%;
    height: calc(100dvh - 250px);
    margin-top: 100px;
    overflow: hidden;
    background-color: #000;
    position: relative;
}
.main-fondo img,
.main-fondo video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.main-fondo-info{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 20px;
}
.main-fondo-info *{
    margin: 0;
    padding: 0;
    font-weight: lighter;
}
.box-clocks{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}
.box-clocks img{
    width: 200px;
}

.logos-marcas{
    animation-delay: 4s;
}

.item-cur{
    width: 33.33%;
    border: 1px solid #ccc;
    padding: 100px 5%;
}
.item-cur h2, .item-cur {
    margin: 0;
}
.info-philo{
    font-family: poppins;
}
.info-philo p{
    line-height: 20px;
}

@media(width < 850px){
    .flex{
        flex-wrap: wrap;
    }
    .info-philo{
        min-width: 100%;
        margin-top: 50px;
    }
    .img-philo{
        position: absolute;
        width: 100px !important;
        height: 100px;
        overflow: hidden;
        top: 0px;
        right: 50px;
        margin-top: -10px;
        border-radius: 100px;
    }
    .item-cur{
        width: 100%;
    }
}

.box-reloj-hierro{
    width: 200px;
    height: 300px;
    overflow: hidden;
}
.box-reloj-hierro img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.box-reloj-hierro:hover img{
    transform: scale(1.2);
}

/* animations ----------- */
header{
    animation: headerFirst 1s ease-out 2s both;
}
@keyframes headerFirst {
    0%{
        margin-top: -100px;
    }
}
.main-fondo{
    animation: fondoFirst 3s ease-out both;
}
@keyframes fondoFirst {
    0%{
        height: 100dvh;
        margin-top: 0px;
    }
    33.33%{
        filter: blur(0px);
    }
    66.66%{
        height: 100dvh;
        margin-top: 0px;
    }
}
.main-fondo img,
.main-fondo video{
    animation: fondoImgFirst 1s ease-out 4s both;
}
@keyframes fondoImgFirst {
    0%{
        opacity: 1;
    }
}
.main-fondo-info{
    animation: fondoInfoFirst 0.6s ease-out 3s both;
}
@keyframes fondoInfoFirst {
    0%{
        opacity: 0;
        transform: translateX(-10%);
    }
}
.logo-header{
    animation: logoFirst 1s ease-out 2s both;   
}
@keyframes logoFirst {
    0%{
        filter: invert(100%);
    }
}

/* responsive ------------------- */
@media(width < 1000px){
    .box-clocks{
        width: 420px;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
    }
}